@font-face {
	font-family: 'Scandia-Bold';
	src: url('src/fonts/scandia_web/Scandia-Bold.eot');
	src: url('src/fonts/scandia_web/Scandia-Bold.eot?#iefix') format('embedded-opentype'),
		url('src/fonts/scandia_web/Scandia-Bold.woff') format('woff'),
		url('src/fonts/scandia_web/Scandia-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Scandia-Regular';
	src: url('src/fonts/scandia_web/Scandia-Regular.eot');
	src: url('src/fonts/scandia_web/Scandia-Regular.eot?#iefix') format('embedded-opentype'),
		url('src/fonts/scandia_web/Scandia-Regular.woff') format('woff'),
		url('src/fonts/scandia_web/Scandia-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.text-cartable{
	font-family: 'Scandia-Regular' !important;
		font-weight: bold;
		font-size: 13px;
		padding-left: 10px;
		padding-right: 10px;
}

	.scandia-bold {
		font-family: 'Scandia-Bold' !important;
		font-weight: bold;
		font-size: 15px;
	}

	.scandia-regular {
		font-family: 'Scandia-Regular' !important;
		font-size: 15px;
		color: #535353 !important;
	}



	/*********************************************
	  STYLE PRODUCTOS
	*********************************************/


	/*para los nombres largos*/
	.nombre-largo {
    font-size: 15px !important;
  }

	.titulo-productos {
		font-family: 'Scandia-Bold' !important;
		font-weight: bold;
		font-size: calc(0.9em + 0.9vw);
		margin-left: 25px;
		text-align: left;
		float: left;
		
	}

	/*** PRECIO Y TITULO TELEFONOS MUY PEQUEÑOS ***/
	 @media screen 
 and (max-device-width: 360px) 
{ 

	.symbol-precio {
	font-family: 'Scandia-Regular' !important;
	font-size: calc(0.8em + 0.8vw) !important;
	color:black;	
	right: 0;
	margin-left: 200px;
	
	}

	.precio {
	font-family: 'Scandia-Bold' !important;
	font-weight: bold;
	font-size: calc(0.8em + 0.8vw) !important;
	color:black;	
	right: 0;

	}

	.precio-decimal {
		font-family: 'Scandia-Bold' !important;
	font-weight: bold;
	font-size: calc(0.8em + 0.8vw) !important;
	color:black;
	right: 0;
	}

	.subtitulo-productos {
		display:  block !important;
	}

}

/*** FIN PRECIO Y TITULO TELEFONOS MUY PEQUEÑOS ***/

/**** Titulo producto en computadores ****/
	 @media screen 
 and (min-device-width: 1100px) 
{ 
	.subtitulo-productos {
		margin-top: 1.2vw !important;
	}

	.titulo-productos {
		font-family: 'Scandia-Bold' !important;
		font-weight: bold;
		font-size: calc(0.7em + 0.7vw) !important;
		margin-left: 25px;
		text-align: left;
		float: left;
		
	}

	.subtitulo-productos {
		font-family: 'Scandia-Regular' !important;
		font-size: calc(0.3em + 0.3vw) !important;
		color: #535353 !important;
		/*margin-top: 3vh;*/
		margin-left: 25px;
		display: block;
		position: absolute;
		text-align: left;
		float: left;
		
	}
}/* fin media 
/**** fin Titulo producto en computadores ****/

	.subtitulo-productos {
		font-family: 'Scandia-Regular' !important;
		font-size: calc(0.4em + 0.4vw);
		color: #535353 !important;
		/*margin-top: 3vh;*/
		margin-left: 25px;
		display: block;
		position: absolute;
		text-align: left;
		float: left;
		margin-top: 1.9vh;
		
	}

/*** Ya que en teléfonos se ve un  poco
	 más abajo **/
	 @media screen 
 and (max-device-width: 800px) 
{ 
	.div-precio {
	margin-top: -25px !important;
}
}/* end media */

/**** PRECIOS EN COMPUTADOR ***/
 @media screen 
 and (min-device-width: 1100px) 
{ 
.symbol-precio {
	font-family: 'Scandia-Regular' !important;
	font-size: calc(0.8em + 0.8vw) !important;
	color:black;	
	right: 0;
	margin-left: 200px;
	
	}

	.precio {
	font-family: 'Scandia-Bold' !important;
	font-weight: bold;
	font-size: calc(0.8em + 0.8vw) !important;
	color:black;	
	right: 0;

	}

	.precio-decimal {
		font-family: 'Scandia-Bold' !important;
	font-weight: bold;
	font-size: calc(0.6em + 0.6vw);
	color:black;
	right: 0;
	}
}/* end media */

/**** fin PRECIOS EN COMPUTADOR ****/

	.symbol-precio {
	font-family: 'Scandia-Regular' !important;
	font-size: calc(1.0em + 1.0vw);
	color:black;	
	right: 0;
	margin-left: 200px;
	
	}

	.precio {
	font-family: 'Scandia-Bold' !important;
	font-weight: bold;
	font-size: calc(1.3em + 1.3vw);
	color:black;	
	right: 0;

	}

	.precio-decimal {
		font-family: 'Scandia-Bold' !important;
	font-weight: bold;
	font-size: calc(0.6em + 0.6vw);
	color:black;
	right: 0;
	}

	.symbol-precio-modal {
	font-family: 'Scandia-Regular' !important;
	font-size: 25px;
	color:black;	
	
	}

	.precio-modal {
	font-family: 'Scandia-Bold' !important;
	font-weight: bold;
	font-size: 25px !important;
	color:black;	


	}

	.precio-decimal-modal {
		font-family: 'Scandia-Bold' !important;
	font-weight: bold;
	font-size: 12.5px !important;
	color:black;

	}

	.franja-producto {
	background-color: #e7e7e9;
	width: 100%;
	height: 5.5vh;
	
}

.divison-productos {
background-color:  #1fb7ee;
width: 100%;
height: 2.5px;
}

 @media screen 
 and (min-device-width: 1100px) 
{ 
	.img-producto-arriba {
   	width: 65vh !important;
   }

   .img-producto-abajo {
   	width: 65vh !important;
   }
}/* end media */

 @media screen 
 and (max-device-height: 440px) 
{ 
	.img-producto-arriba {
   	width: 50vh !important;
   }

   .img-producto-abajo {
   	width: 50vh !important;
   }
}/* end media */

.img-producto-arriba {
   	width: 75vw;
   }

   .img-producto-abajo {
   	width: 75vw;
   }

   .div-titulo-producto {
	/*padding-top: 10px !important;*/
	margin-left: 8px;
}

.div-titulo-producto span {
	
}


/*** producto destacado ***/
.comprar-info-btn {
	font-size: 12px !important;background-color: #188ee2!important;
	font-family: 'scandia-regular'
	
}

.comprar-info-icon {
	margin-left: 10px !important;
	width: 40px !important;
}

.comprar-info-arriba {
	margin-left: -55% !important;margin-bottom: 25px !important;
}


.comprar-info-abajo{
	margin-left: -55% !important;
	margin-top: -35px !important
}

.comprar-info-abajo-slide{
	margin-left: -55% !important;
	margin-top: 50vh !important;
}

  }/* end media */

.comprar-info-abajo-slide-v2{
	margin-left: -55% !important;
	/*margin-top: 135% !important;*/
}

/* iphone celulares max 375 */
@media screen
 and (min-device-width: 360px)  
 and (max-device-width: 375px) 
{ 

	#limpia_slide1 {
	/*background-position: -100px !important;*/
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: cover;

	}

	.productodestacado{
		margin-top: -60px !important;
	}

   .comprar-info-abajo-slide{
	margin-left: -55% !important;
}
}

	/** modal **/
	/*.fp-controlArrow.fp-prev {
    background-image: url(images/flecha_izquierda.png) !important;
	}*/

	/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 5em;
		font-family: arial,helvetica;
		color: #fff;
		margin:0;
		padding:0;
	}
	.intro p{
		color: #fff;
	}

	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
	}

	/* Backgrounds will cover all the section
	* --------------------------------------- */
	.section{
		background-size: cover;
	}
	.slide{
		background-size: cover;
	}

	/* Control peso
	* --------------------------------------- */

  #controlpeso_slide1 {
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

	}

	#controlpeso_slide2 {
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

	}


	#controlpeso_slide1.load-background{
		background-image: url(images/portadas/controlpeso/slide_1-min.jpg);
	}

	#controlpeso_slide2.load-background{
		background-image: url(images/portadas/controlpeso/slide_2-min.jpg);
	}

	/* Limpia
	* --------------------------------------- */

/*** FONDO Y PRODUCTO DESTACADO SLIDES COMPUTADORES ***/
	@media screen
 and (min-device-width: 1100px)  
{ 
	.slide {
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center !important;
    background-size: 35vw !important;

	}

	.productodestacado {
		width: 35vw !important;
		margin-top: -21vh !important;
	}
/* computadores */
	.comprar-info-abajo-slide{
	margin-left: -55% !important;
	margin-top: 80vh !important;
}
}/* end media */

	#limpia_slide1 {
	background-position: 0px 45px;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: cover;

	}

	#limpia_slide1.load-background{
		background-image: url(images/portadas/limpia/slide_1-min-v2.jpg);
	}

	#limpia_slide2.load-background{
		background-image: url(images/portadas/limpia/slide_2-min-v2.jpg);
	}

	/* Regenera
	* --------------------------------------- */

	#regenera_slide1 {
	background-position: 0px 45px;
    background-repeat: no-repeat;
    background-size: cover;

	}

	#regenera_slide1.load-background{
		background-image: url(images/portadas/regenera/slide_1-min.jpg);
	}

	#regenera_slide2.load-background{
		background-image: url(images/portadas/regenera/slide_2-min.jpg);
	}

	/* Revitaliza
	* --------------------------------------- */

	#revitaliza_slide1 {
	background-position: 0px 45px;
    background-repeat: no-repeat;
    background-size: cover;

	}

	#revitaliza_slide2 {
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

	}


	#revitaliza_slide1.load-background{
		background-image: url(images/portadas/revitaliza/slide_1-min.jpg);
	}

	#revitaliza_slide2.load-background{
		background-image: url(images/portadas/revitaliza/slide_2-min.jpg);
	}

	/* Inmunologica
	* --------------------------------------- */

	#inmunologica_slide1 {
	background-position: 0px 45px;;
    background-repeat: no-repeat;
    background-size: cover;

	}

	#inmunologica_slide2 {
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

	}


	#inmunologica_slide1.load-background{
		background-image: url(images/portadas/inmunologica/slide_1-min.jpg);
	}

	#inmunologica_slide2.load-background{
		background-image: url(images/portadas/inmunologica/slide_2-min.jpg);
	}

	/* Anti edad
	* --------------------------------------- */

	#antiedad_slide1 {
	background-position: 0px 45px;
    background-repeat: no-repeat;
    background-size: cover;

	}

	#antiedad_slide2 {
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

	}


	#antiedad_slide1.load-background{
		background-image: url(images/portadas/antiedad/slide_1-min.jpg);
	}

	#antiedad_slide2.load-background{
		background-image: url(images/portadas/antiedad/slide_2-min.jpg);
	}

	/* VIGOR MENTAL
	* --------------------------------------- */

	#vigormental_slide1 {
	background-position: 0px 45px;
    background-repeat: no-repeat;
    background-size: cover;

	}

	#vigormental_slide2 {
	background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

	}


	#vigormental_slide1.load-background{
		background-image: url(images/portadas/vigormental/slide_1-min.jpg);
	}

	#vigormental_slide2.load-background{
		background-image: url(images/portadas/vigormental/slide_2-min-v2.jpg);
	}

	/* Sport
	* --------------------------------------- */

	#sport_slide1 {
	background-position: 0px 45px;
    background-repeat: no-repeat;
    background-size: cover;

	}

	#sport_slide2 {
	background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

	}


	#sport_slide1.load-background{
		background-image: url(images/portadas/sport/slide_1-min.jpg);
	}

	#sport_slide2.load-background{
		background-image: url(images/portadas/sport/slide_2-min.jpg);
	}

	/* Fixed header and footer.
	* --------------------------------------- */
	#header{
		position:fixed;
		height: 45px;
		display:block;
		width: 100%;
		background: #0089cf;
		z-index:9;
		text-align:center;
		color: #f2f2f2;
		padding: 5px 0 0 0;
		/*margin-bottom: 20px !important;*/
		
	}

	#footer{
		position:fixed;
		height: 45px;
		display:block;
		width: 100%;
		/*background: #1fb7ee;*/
		z-index:9;
		text-align:center;
		color: #f2f2f2;
		/*padding: 10px 0 100px 0;*/
		
	}

	#footer-linea {
		font-size: 15px !important;
	}

	#footer-title-regular {
		font-size: 15px !important;
	}

	#footer-title-bold {
		font-size: 15px !important;
	}

	#icon-footer {
		width: 40px !important;
	}

	#header{
		top:0px;
	}

	#header .logo{
		text-align: center;
		width: 100px;
	}

	#footer{
		bottom:0px;
	}

	/************************************
	Botones View y cart
	************************************/
	.product-grid2 .social {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 50px;
    right: 45px;
    z-index: 1
}

.product-grid2 .social li {
    margin: 0 0 10px;
    display: block;
    transform: translateX(5000px);/** posicion para no verse **/
    transition: all .5s
}

.product-grid2:hover .social li {
    transform: translateX(0)
}

.product-grid2:hover .social li:nth-child(2) {
    transition-delay: .15s
}

.product-grid2:hover .social li:nth-child(3) {
    transition-delay: .25s
}

.product-grid2 .social li a {
    color: #fff;
    background-color: #0089cf;
    font-size: 57px;
    line-height: 100px;
    text-align: center;
    height: 105px;
    width: 105px;
    border-radius: 50%;
    display: block;
    transition: all .3s ease 0s
}

.product-grid2 .social li a:hover {
    color: #fff;
    background-color: #3498db;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5)
}

.product-grid2 .social li a:after,
.product-grid2 .social li a:before {
    content: attr(data-tip);
    color: #fff;
    background-color: #000;
    font-size: 12px;
    line-height: 22px;
    border-radius: 3px;
    padding: 0 5px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -30px
}

.product-grid2 .social li a:after {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -22px;
    z-index: -1
}

.product-grid2 .social li a:hover:after,
.product-grid2 .social li a:hover:before {
    opacity: 1
}








/*** Mas pequeños ***/
/**************************/




/*.modal-dialog {
	margin-left: 45px; 
	margin-right: 45px;
}*/

/*@media (max-width: 400px) {
  .contenido {
  	margin-top: 150px !important;
  }
}*/


/*.modal-dialog {
	max-width: 900px !important;
}
.modal-body {
	margin-top: 15px !important;
	margin-left: 15px !important;
	margin-right: 15px !important;
	 
  	overflow-y: auto;
}*/

.modal-body{
  height: 400px;
  width: 100%;
  overflow-y: auto;
}

.modal-select{
  height: 300px;
  overflow-y: auto;
}



.bolsa{
	position: absolute;
	background: #f2f2f2;
	display: none;
	padding:  5px;
	z-index:  9999;
}

body{
	background-color:white !important;
}

.col-comprar {

}



.fade-in {
animation: fadeIn ease 2.5s;
-webkit-animation: fadeIn ease 2.5s;
-moz-animation: fadeIn ease 2.5s;
-o-animation: fadeIn ease 2.5s;
-ms-animation: fadeIn ease 2.5s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

